.bg {
    background: #031633 !important;
    width: 100%;
    height: 100%;
}
.button-trailer{
  width: 200px !important;
  background: #031633 !important;
}
.bg-trans{
  background: #031633b6 !important;
}
.footers {
    margin-top: 200px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    background: #031633;
    color: #61dafb;
    text-align: center;
}
.light {
    color: rgb(187, 185, 185) !important;
}
.nav-link{
  color: rgb(187, 185, 185) !important;
}
.nav-link:hover{
  color: #61dafb !important;
}
.nav-link.active{
  background-color: #02122a !important;
  color: #61dafb !important;
}
.rounded-05 {
    border-radius: 0.5rem !important;
}
.bg-blue {
    color: #fff;
    background-color: #02122a;
}

.fs-200 {
    font-weight: 700;
    font-size: 200px;
}
.font-style {
    font-family: "Secular One", sans-serif;
}
.dropdown-menu {
    color: rgb(187, 185, 185) !important;
    background: #031633 !important;
}
.dropdown-menu a {
    color: rgb(187, 185, 185) !important;
}
.dropdown-menu a :hover {
    color: #031633 !important;
    color: rgb(187, 185, 185) !important;
}
.btn-primary {
    color: rgb(187, 185, 185) !important;
}
.btn-primary-customs {
    color: #fff !important;
    background-color: #60b3ca !important;
    border-color: #0d6efd;
}
.mb-6 {
    margin-bottom: 6rem;
}
.video-size{
  width: 10px !important;
  height: 80% !important
}
.corousel {
    height: 300 px;
}
.card-links:hover{
  cursor: pointer;
  background-color: #02122a;
  color: white;

}
.card-img-overlay {
  background: #02122aa2;
}
.mb-8{
  margin-bottom: 8rem !important;
}
.rounded-pills{
  border-radius: 70px !important;
  font-size: 20px !important;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
